
/*************
    Header
*************/
header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align:center;
    z-index:1;
}

header .nav-item {
    display:inline-block;
    padding:10px;
    margin:0 5px;
    background:#fff;
    color:#fff;
    vertical-align:top;
}

header .nav-item a{
    text-decoration:none;
    color:#656565;
}

header .nav-item a span{
    display:none;
}

header .nav-item:hover a{
   color:#000;
}

/*det aktiva menyvalet*/
header .nav-item.selected {
    background:#000;
}

header .nav-item.selected a {
    color:#fff;
}

header .nav-item.selected a span {
    display:block;
}

